*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background: #000;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  -webkit-tap-highlight-color: transparent;
}
